@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: linear-gradient(180deg, #1A0B2E 0%, #0D1033 50%, #050518 100%);
  --foreground: #E5E5CB;

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: linear-gradient(180deg, #1A0B2E 0%, #0D1033 50%, #050518 100%);
    --foreground: #E5E5CB;
  }
}

body {
    overscroll-behavior: none;
    color: var(--foreground);
    background: var(--background);
    font-family: "Yuji Syuku", serif;
    font-weight: 400;
    font-style: normal;
    padding: 0 1rem;
}

@media (min-width: 640px) {
    body {
        padding: 0 2rem;
    }
}

@media (min-width: 1024px) {
    body {
        padding: 0 4rem;
    }
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}
